@import "reset.css";

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  height: 90vh;
  font-size: 18px;
  color: floralwhite;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

#log-out {
  cursor: grab;
}

#weather {
  display: flex;
  flex-direction: column;
}

#weatherNow {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 18px;
}

#area {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 18px;
}

main {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
}

#clock {
  font-size: 150px;
  margin-bottom: 20px;
  text-align: center;
}

main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-text,
#todo-text {
  font-size: 40px;
  margin-bottom: -5px;
}

#login-form input,
#todo-form input {
  width: 80%;
  border: none;
  border-bottom: 3px solid whitesmoke;
  background-color: transparent;
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
  margin-bottom: 30px;
}

#login-form input:focus,
#todo-form input:focus {
  outline: none;
}

#greeting {
  font-size: 60px;
  margin-bottom: 20px;
  text-align: center;
}

#todo-list {
  width: 100%;
  height: 30vh;
  overflow-y: scroll;
}

#todo-list::-webkit-scrollbar {
  display: none;
}

#todo-list li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#todo-list li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#todo-list li span {
  font-size: 40px;
}

#todo-list li button {
  background-color: transparent;
  border: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#quote {
  font-size: 20px;
}
